
    <div class="container">  
      
        <mat-card>  
          <mat-toolbar color="accent">  
            <div align="center" style="color:white;text-align: right;">  
              Contact List                
            </div>    
          </mat-toolbar>  
        <br><br>  
          <mat-card-content>  
            <form [formGroup]="contactForm"(ngSubmit)="onFormSubmit()">  
                    <table>  
                      <tr>  
                        <td class="tbl1">  
                          <mat-form-field class="demo-full-width">  
                            <input formControlName="FirstName" matTooltip="Enter First Name" matInput placeholder="First Name">  
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!contactForm.get('FirstName').value && contactForm.get('FirstName').touched"></span>  
                          </mat-error>  
                        </td>  
                        <td class="tbl1">  
                            <mat-form-field class="demo-full-width">  
                              <input formControlName="LastName" matTooltip="Enter Last Name" matInput placeholder="Last Name">  
                            </mat-form-field>  
                            <mat-error>  
                              <span *ngIf="!contactForm.get('LastName').value && contactForm.get('LastName').touched"></span>  
                            </mat-error>  
                          </td>  
                        <td class="tbl1">  
                          <mat-form-field class="demo-full-width">  
                            <input formControlName="Email" matTooltip="Enter EmailId" matInput placeholder="Email">  
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!contactForm.get('Email').value && contactForm.get('Email').touched"></span>  
                          </mat-error>  
                        </td>  
                      </tr>  
                      <tr>  
                        <td class="tbl1">  
                          <mat-form-field class="demo-full-width">  
                            <input matTooltip="Phone Number "formControlName="PhoneNumber" matInput placeholder="PhoneNumber">  
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!contactForm.get('PhoneNumber').value && contactForm.get('PhoneNumber').touched"></span>  
                          </mat-error>  
                        </td>  
                        <!-- <td class="tbl1">  
                          <mat-form-field class="demo-full-width">  
                            <input formControlName="IsActive" matTooltip="Is Active" matInput placeholder="IsActive">  
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!contactForm.get('IsActive').value && contactForm.get('IsActive').touched"></span>  
                          </mat-error>  
                        </td>   -->
                      </tr>  
                      <tr>  
                        <td></td>  
                        <td  class="content-center">  
                          <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!contactForm.valid">Submit</button>      
                          <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                        </td>  
                        <td>  
                          <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                            {{massage}}  
                          </p>  
                        </td>  
                      </tr>  
                    </table>  
        <br><br>  
              <table class="table" >  
                  <tr ngclass="btn-primary">  
                    <th class="tbl2">First Name</th>  
                    <th class="tbl2">Last Name</th>  
                    <th class="tbl2">Email Id</th>  
                    <th class="tbl2">PhoneNumber</th>  
                    <!-- <th class="tbl2">IsActive</th>   -->
                    <th class="tbl2">Edit</th>  
                    <th class="tbl2">Delete</th>  
                  </tr>  
                  <tr *ngFor="let contact of allContacts | async">  
                    <td class="tbl2">{{contact.FirstName}}</td>  
                    <td class="tbl2">{{contact.LastName}}</td>  
                    <td class="tbl2">{{contact.Email}}</td>  
                    <td class="tbl2">{{contact.PhoneNumber}}</td>  
                    <!-- <td class="tbl2">{{contact.IsActive}}</td>   -->
                    <td class="tbl2">  
                      <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadContactToEdit(contact.EmpId)">Edit</button>  
                    </td>  
                    <td class="tbl2">  
                      <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteContact(contact.EmpId)">Delete</button>  
                    </td>  
                  </tr>  
          
                </table>  
            </form>  
          </mat-card-content>  
        </mat-card>  
        </div>  
    